$icomoon-font-family: "smartlyjobs" !default;
$icomoon-font-path: "fonts" !default;

$icon-Significon-Archive: "\e900";
$icon-Significon-Arrow-Down: "\e901";
$icon-Significon-Arrow-Left: "\e902";
$icon-Significon-Arrow-Right: "\e903";
$icon-Significon-Arrow-Up: "\e904";
$icon-Significon-Attachment: "\e905";
$icon-Significon-Bell: "\e906";
$icon-Significon-Bolt: "\e907";
$icon-Significon-Book: "\e908";
$icon-Significon-Bookmark: "\e909";
$icon-Significon-Briefcase: "\e90a";
$icon-Significon-Browser: "\e90b";
$icon-Significon-Building: "\e90c";
$icon-Significon-Bulb: "\e90d";
$icon-Significon-Bullhorn: "\e90e";
$icon-Significon-Calendar: "\e90f";
$icon-Significon-Camera: "\e910";
$icon-Significon-Cart: "\e911";
$icon-Significon-Chart-Bar: "\e912";
$icon-Significon-Chat: "\e913";
$icon-Significon-Check: "\e914";
$icon-Significon-Click: "\e915";
$icon-Significon-Cloud-Download: "\e916";
$icon-Significon-Cloud-Upload: "\e917";
$icon-Significon-Cloud: "\e918";
$icon-Significon-Cog: "\e919";
$icon-Significon-Command: "\e91a";
$icon-Significon-Comment: "\e91b";
$icon-Significon-Compass: "\e91c";
$icon-Significon-Compress: "\e91d";
$icon-Significon-Computer: "\e91e";
$icon-Significon-CreditCard: "\e91f";
$icon-Significon-Dashboard: "\e920";
$icon-Significon-Delete: "\e921";
$icon-Significon-Discount: "\e922";
$icon-Significon-Dislike: "\e923";
$icon-Significon-Download: "\e924";
$icon-Significon-Edit: "\e925";
$icon-Significon-Eject: "\e926";
$icon-Significon-End: "\e927";
$icon-Significon-Exchange: "\e928";
$icon-Significon-External: "\e929";
$icon-Significon-Eye: "\e92a";
$icon-Significon-FastBackward: "\e92b";
$icon-Significon-FastForward: "\e92c";
$icon-Significon-Files: "\e92d";
$icon-Significon-Flag: "\e92e";
$icon-Significon-Folder: "\e92f";
$icon-Significon-FolderOpen: "\e930";
$icon-Significon-Friends: "\e931";
$icon-Significon-Full: "\e932";
$icon-Significon-Grid: "\e933";
$icon-Significon-HD: "\e934";
$icon-Significon-Heart: "\e935";
$icon-Significon-Home: "\e936";
$icon-Significon-Horizontal: "\e937";
$icon-Significon-Hourglass: "\1f313";
$icon-Significon-Info: "\e939";
$icon-Significon-Key: "\e93a";
$icon-Significon-Keyboard: "\e93b";
$icon-Significon-Lab: "\e93c";
$icon-Significon-Layers: "\e93d";
$icon-Significon-Like: "\e93e";
$icon-Significon-Link: "\e93f";
$icon-Significon-List: "\e940";
$icon-Significon-Location: "\e941";
$icon-Significon-Lock: "\e942";
$icon-Significon-Login: "\e943";
$icon-Significon-Logout: "\e944";
$icon-Significon-Mail: "\e945";
$icon-Significon-Maps: "\e946";
$icon-Significon-Medal: "\e947";
$icon-Significon-Menu: "\e948";
$icon-Significon-Microphone: "\e949";
$icon-Significon-Mobile: "\e94a";
$icon-Significon-Mouse: "\e94b";
$icon-Significon-Move: "\e94c";
$icon-Significon-Multiple: "\e94d";
$icon-Significon-Music: "\e94e";
$icon-Significon-Mute: "\e94f";
$icon-Significon-Network: "\e950";
$icon-Significon-News: "\e951";
$icon-Significon-Next: "\e952";
$icon-Significon-Paper: "\e953";
$icon-Significon-Pause: "\e954";
$icon-Significon-Phone: "\e955";
$icon-Significon-Picture: "\e956";
$icon-Significon-Pin: "\e957";
$icon-Significon-Place: "\e958";
$icon-Significon-Play: "\e959";
$icon-Significon-Playlist: "\e95a";
$icon-Significon-Plus: "\e95b";
$icon-Significon-Power: "\e95c";
$icon-Significon-Preferences: "\e95d";
$icon-Significon-Previous: "\e95e";
$icon-Significon-Print: "\e95f";
$icon-Significon-Question: "\e960";
$icon-Significon-Redo: "\e961";
$icon-Significon-Refresh: "\e962";
$icon-Significon-Reload: "\e963";
$icon-Significon-Resize: "\e964";
$icon-Significon-Restore: "\e965";
$icon-Significon-Rewind: "\e966";
$icon-Significon-Search: "\e967";
$icon-Significon-Server: "\e968";
$icon-Significon-Share-i: "\e969";
$icon-Significon-Share: "\e96a";
$icon-Significon-Shuffle: "\e96b";
$icon-Significon-Signal: "\e96c";
$icon-Significon-Sound: "\e96d";
$icon-Significon-Star: "\e96e";
$icon-Significon-Stop: "\e96f";
$icon-Significon-Tag: "\e970";
$icon-Significon-Thumbnail: "\e971";
$icon-Significon-Ticket: "\e972";
$icon-Significon-Time: "\e973";
$icon-Significon-Trash: "\e974";
$icon-Significon-Undo: "\e975";
$icon-Significon-Upload: "\e976";
$icon-Significon-User: "\e977";
$icon-Significon-Vertical: "\e978";
$icon-Significon-Video: "\e979";
$icon-Significon-Warning: "\e97a";
$icon-Significon-Watch: "\e97b";
$icon-Significon-Wrench: "\e97c";
$icon-Significon-X: "\e97d";
$icon-icon_1: "\e97e";
$icon-icon_2: "\e97f";
$icon-icon_3: "\e980";
$icon-icon_4: "\e981";
$icon-icon_5: "\e982";
$icon-icon_6: "\e983";
$icon-icon_7: "\e984";
$icon-icon_8: "\e985";
$icon-icon_9: "\e986";
$icon-icon_10: "\e987";
$icon-icon_11: "\e988";
$icon-icon_12: "\e989";
$icon-icon_13: "\e98a";
$icon-icon_14: "\e98b";
$icon-icon_15: "\e98c";
$icon-icon_16: "\e98d";
$icon-icon_17: "\e98e";
$icon-icon_18: "\e98f";
$icon-icon_19: "\e990";
$icon-icon_20: "\e991";
$icon-icon_21: "\e992";
$icon-icon_22: "\e993";
$icon-icon_23: "\e994";
$icon-icon_24: "\e995";
$icon-icon_25: "\e996";
$icon-icon_26: "\e997";
$icon-icon_27: "\e998";
$icon-icon_28: "\e999";
$icon-icon_29: "\e99a";
$icon-icon_30: "\e99b";
$icon-icon_31: "\e99c";
$icon-icon_32: "\e99d";
$icon-icon_33: "\e99e";
$icon-icon_34: "\e99f";
$icon-icon_35: "\e9a0";
$icon-icon_36: "\e9a1";
$icon-icon_37: "\e9a2";
$icon-icon_38: "\e9a3";
$icon-icon_39: "\e9a4";
$icon-icon_40: "\e9a5";
$icon-icon_41: "\e9a6";
$icon-icon_42: "\e9a7";
$icon-icon_43: "\e9a8";
$icon-icon_44: "\e9a9";
$icon-icon_45: "\e9aa";
$icon-icon_46: "\e9ab";
$icon-icon_47: "\e9ac";
$icon-icon_48: "\e9ad";
$icon-icon_49: "\e9ae";
$icon-icon_50: "\e9af";
$icon-icon_51: "\e9b0";
$icon-icon_52: "\e9b1";
$icon-icon_53: "\e9b2";
$icon-icon_54: "\e9b3";
$icon-icon_55: "\e9b4";
$icon-icon_56: "\e9b5";
$icon-icon_57: "\e9b6";
$icon-icon_58: "\e9b7";
$icon-icon_59: "\e9b8";
$icon-icon_60: "\e9b9";
$icon-icon_61: "\e9ba";
$icon-icon_62: "\e9bb";
$icon-icon_63: "\e9bc";
$icon-icon_64: "\e9bd";
$icon-icon_65: "\e9be";
$icon-icon_66: "\e9bf";
$icon-icon_67: "\e9c0";
$icon-icon_68: "\e9c1";
$icon-icon_69: "\e9c2";
$icon-icon_70: "\e9c3";
$icon-icon_71: "\e9c4";
$icon-icon_72: "\e9c5";

