$textColor: #58A4B0;
$input_color: #F7F8FA;
$box_shadow: #6593a8;

$dark: #73CFC5;
$light_dark: #58A4B0;
$light: #F6F8DB;
$contrast_color: #4285f6;
$background_color: #76ABC0;

$loginBackground: #1a5590;
$loginBackgroundTop: #4d82ac;
$loginBackgroundLight: #69c2e8;
$loginShadow: #fdfdfd;
$loginBoxLeft: #FBFBFC;
$loginBoxRight: #4285f6;
$loginBoxInput: #003459;
$loginBoxDark: #00171F;

$first: #00171F;
$second: #205a90;
$third: #4285f6;
$fourth: #44d7f6;

$background: #f9f9f9;

$dashboardBackground: #4d82ac;
$dashboardBackgroundLight: #69c2e8;
$dashboardBackgroundDark: #1a5590;
$sidebarBackground: #67b5db;
$sidebarDarkBackground: #4d84ae;

$iconSidebar: #919191;
$iconTopBar: #919191;
$iconDashboard: #919191;

$settingsVacationFontColor: #7e7e7e;

$macFifteen: 'max-width: 1680px';
$veryLargeTablets: 'max-width: 1024px';
$largeTablets: 'max-width: 991px';
$mediumTablets: 'max-width: 767px';
$phones: 'max-width: 479px';


$topBarHeight: 66px;

$headerHeight: 80px;

$sideBarWidth: 250px;
$sideBarWidthTablets: 60px;

